.gridlines {
    padding: 40% 40%;
    margin: 1% 1%;
}

.navbar {
    width: 100%;
    margin-bottom: 5%;
}

.button {
    display: inline-block;
    background-color: #066d20;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 75%;
    padding: 20px;
    width: 14.1%;
    height: 50px;
    transition: all 0.5s;
    cursor: pointer;
    float: left;
    border: 1px solid rgb(9, 1, 36);
    margin-bottom: 2%;
    margin-top: 0.25%;
  }
  
  .buttonBottom {
    display: inline-block;
    background-color: darkslategray; 
    margin-top: 1%;
    margin-bottom: 0px;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 80%;
    padding: 5px;
    width: 14.6%;
    height: 70px;
    transition: all 0.5s;
    cursor: cell;
    float: left;
    border: 1px solid rgb(9, 1, 36);
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    font-family: cursive;
    background-color: black;
    color: whitesmoke;
    text-align: center;
  }
 