.gridlines {
    padding: 40% 40%;
    margin: 10px 0px;
}

.navbar {
    width: 100%;
    margin-bottom: 5%;
}

.button {
    display: inline-block;
    background-color: #066d20;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    padding: 20px;
    width: 16.6%;
    height: 12%;
    transition: all 0.5s;
    cursor: pointer;
    float: left;
    border: 1px solid rgb(9, 1, 36);
    margin-bottom: 2%;
    margin-top: 0.25%;
  }
  
  .buttonBottom {
    display: inline-block;
    background-color: darkslategray; 
    margin-top: 1%;
    margin-bottom: 0px;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    padding: 20px;
    width: 16.6%;
    height: 12%;
    transition: all 0.5s;
    cursor: pointer;
    float: left;
    border: 1px solid rgb(9, 1, 36);
  }

  .footer {
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 5%;
    font-family: cursive;
    background-color: black;
    color: whitesmoke;
    text-align: center;
  }
 